{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About</h1>

    <p class="lead">Used cell phones: from students to students!</p>

    <p>Get the best price buying used cell phones. The idea behind our website is to provide students with access to affordable smartphones that are functional and effective for carrying over functions such as emails, text messaging, other messaging platforms, and applications such as LinkedIn, Handshake etc.  If you want a phone from one of your favorite brands that fits your budget, you're at the right site.</p>
    <p>StudCell is a leading provider of quality refurbished cell phones. We carry phones from fan-favorite, market-leading brands like Apple, Samsung and LG. Shop online today and discover how we can help you find your next handset.</p>

{% endblock %}
