{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <!-- Bodystyle CSS -->
    <link rel="stylesheet" type="text/css" href="Bodystyle.css">    
    
    <!-- Image from Freepik -->
    <div class="container8">
      <img src="https://www.imagehost.at/images/2023/05/06/Image-extended-min.png" alt="" >
      <div class="ctext">
        <h1 style="font-size:3.5em; "> Welcome to StudCell </h1>
        <p> </p>
        <p class="lead" style="font-size:2em; ">Don't worry about the price anymore and discover what we have for you</p>
      </div>
    </div>

    <h1 style="text-align:center">Why us?</h1>
    <p></p>
    <p class="lead">We've been a trusted reseller of used devices since 2023. With StudCell, you can forget the challenge of trying to find reputable local sellers and enjoy the ease of having a quality refurbished cell phone shipped to your doorstep at the best price possible</p>
    <p class="lead">When buying refurbished used cell phones from StudCell, you'll benefit from several perks:</p>


<!-- ======= Clients Section ======= -->

<div class="container5">

  <div class="container6">
    <h1> </h1>
    <h1 style="text-align:center">Some of the brands we sell</h1>
  </div>

<section id="clients" class="clients">
  <div class="container7" data-aos="zoom-in">

    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center">
          <div class="container7-fluid px-6">
              <div class="row ">
                  <div class="col-md-3 mb-3">
                      <!-- Feature item-->
                      <div class="text-center">
                          <div class="swiper-slide"><img src="https://i.ibb.co/cQsjP0g/Apple.png" class="img-fluid" width="120" height="120" alt=""></div>
                      </div>
                  </div>
                  <div class="col-md-3 mb-3">
                      <!-- Feature item-->
                      <div class="text-center">
                          <div class="swiper-slide"><img src="https://i.ibb.co/ZgBgV2P/Samsung.png" class="img-fluid" width="120" height="120" alt=""></div>
                      </div>
                  </div>

                  <div class="col-md-3 mb-3">
                      <!-- Feature item-->
                      <div class="text-center">
                          <div class="swiper-slide"><img src="https://i.ibb.co/LJwRsKT/Windows-Phone.png" class="img-fluid" width="120" height="120" alt=""></div>
                      </div>
                  </div>

                  <div class="col-md-3 mb-3">
                      <!-- Feature item-->
                      <div class="text-center">
                          <div class="swiper-slide"><img src="https://i.ibb.co/ZKtVJSN/Xiami.png" class="img-fluid" width="120" height="120" alt=""></div>
                      </div>
                  </div>

              </div>
              </div>
          </div>
      </div>
    </div>
  </div>

</div>

</section><!-- End Clients Section -->



<!-- Features Section -->

 <div class="container9">

    <div class="container10">
        <div class="image">
          <img src="https://i.ibb.co/HggKTFJ/money.png" width="200" height="200">
        </div>
        <div class="text">
          <h1>Affordability</h1>
          <p>We guarantee we will save you money. Our refurbished cell phones are more affordable than the Manufacturer Suggested Retail Price (MSRP). We also offer financing solutions.</p>
        </div>
    </div>

    <div class="container10">
        <div class="text">
          <h1>Support</h1>
          <p>At StudCell, we pride ourselves on being the go-to source for quality refurbished cell phones. We will work with you before and after your purchase to ensure your satisfaction. </p>
          </div>
        <div class="image">
          <img src="https://i.ibb.co/gSrWCdX/customer-service.png" width="200" height="200">
        </div>
    </div>

    <div class="container10">
        <div class="image">
          <img src="https://i.ibb.co/tXTXSRy/quality.png" width="200" height="200">
        </div>
        <div class="text">
          <h1>Quality</h1>
          <p>We perform a 30-point evaluation before we list pre-owned phones on our site. This inspection ensures we sell only quality, StudCell Certified refurbished phones.</p>
        </div>
    </div>

    <div class="container10">
        <div class="text">
          <h1>Convinience</h1>
            <p>Our checkout and shipping process is safe, convenient and hassle-free — and we offer free standard shipping with every StudCell purchase.</p>
          </div>
        <div class="image">
          <img src="https://i.ibb.co/qRmgMtW/easy-to-use.png" width="200" height="200">
        </div>
    </div>

    <div class="container10">
      <div class="image">
        <img src="https://i.ibb.co/ZmMBbnN/trust.png" width="200" height="200">
      </div>
      <div class="text">
        <h1>Honesty</h1>
        <p>We're honest about our phones' conditions and prices, but if the phone isn't what you expected, send it back within 30 days for a refund.</p>
      </div>
  </div>

  <div class="container10">
      <div class="text">
        <h1>Environmentally responsible</h1>
          <p>We will give you a value for your old phones that you are already to discord and finding ways to recycle</p>
        </div>
      <div class="image">
        <img src="https://i.ibb.co/MR8QBT5/earth.png" width="200" height="200">
      </div>
  </div>
</div>

<!-- Photo Section -->

<div class="container4">

    <div class="container6">
      <h1 style="text-align:center">Contact our support center</h1>
    </div>
    <div class="container9">
      <div class="container10">
        <div class="image">
          <img src="https://i.ibb.co/2KS1GR8/i-Phone-Purple.jpg" width="600" height="400">
        </div>
        <div class="image">
          <img src="https://i.ibb.co/6vk3HPv/Banner2-Yellow.jpg" width="600" height="400">
        </div>
      </div>
    </div>

</div>

{% endblock %}